.App {
  text-align: center;
  background-color: cadetblue;
}

.App h1 {
  background-color:purple;
  padding: 20px 0;
  font-size: 50px;
  color: white;
}

.container {
  width: 80%;
  margin: 10% auto
}
